{% extends 'home.html' %}

{% load static %}

{% block content %}
  <h1>{{ advertisement.title }}</h1>
  <p>{{ advertisement.text }}</p>
  <p>Категория: {{ advertisement.category }}</p>
  <p>Автор: {{ advertisement.user.username }}</p>
  {% if advertisement.image %}
    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}">
  {% endif %}
  {% if advertisement.video %}
    <video src="{{ advertisement.video.url }}" controls></video>
  {% endif %}
  <h2>Ответить</h2>
  <ul>
    {% for response in advertisement.responses.all %}
      <li>
        <p>{{ response.text }}</p>
        <p>Автор: {{ response.user.username }}</p>
      </li>
    {% empty %}
      <li>Ответов пока что нет.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'response_create' advertisement.pk %}">Отправить ответ</a>
{% endblock %}
