<!DOCTYPE html>
<html>
<head>
  <title>Игровые новости</title>
</head>
<body>
  <h1>Добро пожаловать в "Игровые новости"!</h1>
  <a href="{% url 'signup' %}">Зарегистрироваться</a>
  <a href="{% url 'advertisement_create' %}">Добавить новость</a>
  <a href="{% url 'categories' %}">Категории</a>
  <a href="{% url 'login' %}">Войти</a>
  <a href="{% url 'logout' %}">Выйти</a>
  <ul>
    {% for advertisement in advertisements %}
      <li>
        <a href="{% url 'advertisement_detail' advertisement.pk %}">{{ advertisement.title }}</a>
        <p>{{ advertisement.text|truncatewords:50 }}</p>
        <p>Категории: {{ advertisement.category }}</p>
      </li>
    {% empty %}
      <li>Объявления недоступны.</li>
    {% endfor %}
  </ul>
</body>
</html>
