{% extends 'home.html' %}

{% load static %}

{% block content %}
<head>
  <title>Подписки</title>
  <h1>Ваши подписки</h1>
  {% for subscription in subscriptions %}
    <h2>{{ subscription.category.name }}</h2>
    <p>{{ subscription.category.description }}</p>
    <form method="post" action="{% url 'unsubscribe' subscription.pk %}">
      {% csrf_token %}
      <button type="submit">Отписаться</button>
    </form>
  {% empty %}
    <p>Нет подходящих подписок.</p>
</head>
  {% endfor %}
{% endblock %}
